@model NITBook.Models.BookSort

@{
    ViewBag.Title = "创建图书类";
    Layout = "~/Views/Shared/Mange.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>图书分类新增</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SortId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SortId,  new { @class = "form-control", @placeholder = "请输入图书分类编号" } )
                @Html.ValidationMessageFor(model => model.SortId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "请输入图书分类名称" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="创建" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回总览", "Index", new { }, new { @class = "badge badge-info" })
</div>
