@model IEnumerable<NITBook.Models.BookSort>

@{
    ViewBag.Title = "图书类别管理";
    Layout = "~/Views/Shared/Mange.cshtml";
}

<h2>图书类别展示</h2>

<p>
    @Html.ActionLink("创建新分类", "Create", new { area = " " }, new { @class = "badge badge-info" })
</p>
<table class="table">
    <thead class="thead-dark text-center">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.SortId)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col">操作</th>
        </tr>
    </thead>
    
    <tbody class="text-center">
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.SortId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("编辑", "Edit", new { id = item.SortId }, new { @class = "badge badge-info" })
                    @Html.ActionLink("详情", "Details", new { id = item.SortId }, new { @class = "badge badge-info" })
                    @Html.ActionLink("删除", "Delete", new { id = item.SortId }, new { @class = "badge badge-info" })
                </td>
            </tr>
        }
    </tbody>


</table>
