@model NITBook.Models.Book

@{
    ViewBag.Title = "删除图书";
    Layout = "~/Views/Shared/Mange.cshtml";
}


    <h3>确定要删除该图书信息?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.bookName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.bookName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ISBN)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ISBN)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.publicTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.publicTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.author)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.author)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.sort)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.sort)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.number)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.number)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.info)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.info)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="确认删除" class="btn btn-danger" /> |
                @Html.ActionLink("返回总览", "Index", new { }, new { @class = "badge badge-info" })
            </div>
        }
    </div>

